
{% extends 'layout.html.twig' %}

{% block content %}
   <body style="background-image: url(assets/images/boxing-ring.jpg);">
    <div class="container ">
        <div class="row">
            <div class="progress life">
                <div class="playersLife progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
            <div class="progress life">
                <div class="playersLife progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        
    </div>
    </div>
    <div class="container fighters">
        
        <div class="column">
            <div class="d-flex justify-content-between">
                {% for image in images %}
                <img src="{{ image }}" class="blue mx-auto rounded d-flex justify-content-start" alt="...">
                {% endfor %}
                {% for stat in stats %}
                    <table class="table col">
                        <thead>
                            <th>{{ stat.name }}</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>power</td>
                                <td>{{ stat.power }}</td>
                            </tr>
                            
                            <tr>
                                <td>pv</td>
                                <td>{{ stat.durability }}</td>
                            </tr>
                            
                            <tr>
                                <td>vitesse</td>
                                <td>{{ stat.speed }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <div class="container">
    
        <div class="col">
            <p>Attaques joueur 1:</p>
            <button name="brulureP1" type="button" data-toggle="modal" data-target="#brulureP1">Brulure indienne</button>
            <div id="brulureP1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="brulureP1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Le joueur 2 a perdu 3pv</p>
                        </div>
                    </div>
                </div>
            </div>
            <button name="balayetteP1" type="button" data-toggle="modal" data-target="#balayetteP1">Balayette</button>
            <div id="balayetteP1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="balayetteP1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Le joueur 2 a perdu 5pv</p>
                        </div>
                    </div>
                </div>
            </div>
            <button name="coupteteP1" type="button" data-toggle="modal" data-target="#coupteteP1">Coup de tête</button>
            <div id="coupteteP1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="coupteteP1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Le joueur 2 a perdu 7pv</p>
                        </div>
                    </div>
                </div>
            </div>
            <button name="koP1" type="button" data-toggle="modal" data-target="#koP1">KO</button>
            <div id="koP1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="koP1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Le joueur 2 est KO !!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <p>Attaques joueur 2:</p>
            <button name="brulureP2" type="button" data-toggle="modal" data-target="#brulureP2">Brulure indienne</button>
            <div id="brulureP2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="brulureP2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Le joueur 1 a perdu 3pv</p>
                        </div>
                    </div>
                </div>
            </div>
            <button name="balayetteP2" type="button" data-toggle="modal" data-target="#balayetteP2">Balayette</button>
            <div id="balayetteP2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="balayetteP1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Le joueur 1 a perdu 5pv</p>
                        </div>
                    </div>
                </div>
            </div>
            <button name="coupteteP2" type="button" data-toggle="modal" data-target="#coupteteP2">Coup de tête</button>
            <div id="coupteteP2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="coupteteP1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Le joueur 1 a perdu 7pv</p>
                        </div>
                    </div>
                </div>
            </div>
            <button name="koP2" type="button" data-toggle="modal" data-target="#koP2">KO</button>
            <div id="koP2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="koP2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>Le joueur 1 est KO !!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>   
        
   </body>
{% endblock %}