{% extends 'layout.html.twig' %}

{% block content %}
    <body style="background-image: url(assets/images/bgPeople.gif); background-repeat: no-repeat; background-size: 100% 1000px;"> 
    <h1 class="text-center my-5 choose">Choose your fighter !</h1>
    <div class="container column">
        <ul class="d-inline-flex">
            <div class="row">
                {% for fighter in fighters %}
                    <li class="list-unstyled mx-2 col">
                        <form method="GET" action="/fight">
                        <div class="img-thumbnail">
                            {{ fighter.name }}
                            <img src="{{ fighter.images.sm }}">
                            <input name="select" type ="checkbox"class="btn btn-primary" value="{{ fighter.id }}">
                        </div>
                                           </li>
                {% endfor %}
            </div>
        </ul>
    </div>

    <div class="container two">
        <ul class="d-inline-flex">
            <div class="row">
                {% for fighter in fighters %}
                    <li class="list-unstyled mx-2 col">
                      
                        <div class="img-thumbnail">
                            {{ fighter.name }}
                            <img src="{{ fighter.images.sm }}">
                            <input name="select2" type ="checkbox"class="btn btn-primary" value="{{ fighter.id }}">
                        </div>


                        
                    </li>
                {% endfor %}
                <div class="bout"> 
                <input class="btn-warning" type="submit" name="envoyer">
                </div>
                </form>
            </div>
        </ul>
    </div>
    </body>

{% endblock %}
