{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="text-center my-5">Choose your fighter !</h1>
    <div class="container one">
        <ul class="d-inline-flex">
            <div class="row">
                {% for fighter in fighters %}
                    <li class="list-unstyled mx-2 col">
                        <form method="GET" action="/fight">
                        <div class="img-thumbnail">
                            {{ fighter.name }}
                            <img src="{{ fighter.images.sm }}">
                            <input name="select" type ="checkbox"class="btn btn-primary" value="{{ fighter.id }}">
                        </div>
                                           </li>
                {% endfor %}
            </div>
        </ul>
    </div>

    <div class="container two">
        <ul class="d-inline-flex">
            <div class="row">
                {% for fighter in fighters %}
                    <li class="list-unstyled mx-2 col">
                      
                        <div class="img-thumbnail">
                            {{ fighter.name }}
                            <img src="{{ fighter.images.sm }}">
                            <input name="select2" type ="checkbox"class="btn btn-primary" value="{{ fighter.id }}">
                        </div>


                        
                    </li>
                {% endfor %}
                <input type="submit" name="envoyer">
                </form>
            </div>
        </ul>
    </div>

{% endblock %}
